/* UserProfile.module.css */
.userProfile {
    background-color: var(--input-background);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
  }

  .profileHeader{
    display: flex;
    justify-content: space-around;
    color: var(--text-color-2)

  }
  
  .header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color-2)
  }
  
  .entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: var(--text-color-2)

  }
  
  .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color-2)

  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--text-color);
  }
  
 
.input:disabled {
  background-color: var(--background-color);
}

.toggleSwitchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-background);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--button-hover-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggleButton {
  background-color: var(--button-background);
  color: var(--button-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: var(--button-hover-color);
}