:root {
  /* Primary color for the mountains and text */
  --mountain-dark-blue: #1E4056;
  --mountain-orange: #E89C5D;
  --mountain-light-blue: #6AB1D7;

  /* Color for the sun */
  --sun-color: #FFD365;

  /* Background and banner colors */
  --background-dark: #2D2F34;
  --banner-teal: #66A5AD;
  --background-orange: #FBD8A3;

  /* Text color */
  --text-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
