:root {
  --primary-color: #E89C5D;
  --secondary-color: #6AB1D7;
  --background-color: #FBD8A3;
  --text-color-2: #1E4056;
  --text-color: #fffff;
  --input-background: #ffffff;
  --input-border-color: #cccccc;
  --button-background: #E89C5D;
  --button-color: #ffffff;
  --button-hover-color: #FFB74D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .body {
  background-image: url('/images/bigBGimage.webp')
} */