:root {
  --primary-color: #1DAAAB;
  --secondary-color: #FFB100;
  --background-color: #f2ebdc;
  --text-color-2: #003844;
  --text-color: #003844;
  --input-background: #F9F7F3;
  --input-border-color: #cccccc;
  --button-background: #FFB100;
  --button-color: #ffffff;
  --button-hover-color: #F194B4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .body {
  background-image: url('/images/bigBGimage.webp')
} */

/* html { 
  height: 100%;
} */
/* 

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  /* height: 100vh;
  width: 100vw; */
/* } */
