/* mainInfo.module.css */

.formStep {
    background-color: var(--input-background);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    margin-bottom: 5rem;
  }
  
  .header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color-2);
  }
  
  .entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color-2);
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--text-color);
  }
  
  .input[type="file"] {
    padding: 0.25rem;
  }
  
  .input:disabled {
    background-color: var(--background-color);
  }
  
  /* .nextButton {
    background-color: var(--button-background);
    color: var(--button-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1rem auto;
  }
  
  .nextButton:hover {
    background-color: var(--button-hover-color);
  } */
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .backButton, .nextButton {
    background-color: var(--button-background);
    color: var(--button-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover, .nextButton:hover {
    background-color: var(--button-hover-color);
  }

  .meals {
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
  }