
.aboutUs {
  font-family: 'Arial, sans-serif';
  color: var(--text-color);
  background-color: var(--text-color-3);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

.aboutUs h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--primary-color);
}

.aboutUs p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}