/* ClientPortal.module.css */
.clientPortal {
    display: flex;
    height: 100%;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
  }

  .fullPage {
    height: 900px;
    border: 1px solid red
  }
  